#棋譜データ
kif_dir

#ファイルを出力するディレクトリ
result_dir

shogi_log.csv
not_reviewd_kifs.csv

#不要なデータを置く(後で復活できるように、削除はしない)
cache

#バックアップフォルダ
backup

#まだ反省していない棋譜
not_reviewed_kifs.csv

error.txt

#設定
config/player_name.txt

__pycache__
