#棋譜データ
kif/*.kif
kif/*.csa
kif_sjis/*.kif
kif_sjis/*.csa

win_percentage_dir

shogi_log.csv
not_reviewd_kifs.csv
graph/*.png

#不要なデータを置く(後で復活できるように、削除はしない)
cache

#バックアップフォルダ
backup

#まだ反省していない棋譜
not_reviewed_kifs.csv

error.txt
